*{
    margin: 0;
    padding: 0;
}

body{
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

span{
    margin: 10px;
}

select{
    width: 50px;
    margin-bottom: 15px;
}
.containerImg img{
    border: none;
}
.imgStickers{
    height: 130px;
    width: 130px;
}

.containerImg, .containerStickers, .containerPassword{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 600px;
    border: 2px solid black;
    margin-top: 10px;
}

.divStickersPadre, .divPassword{
    display: flex;
    width: 70%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

button, button:focus {
  width: 50%;
  font-size: 17px;
  padding: 10px 25px;
  border-radius: 0.7rem;
  background-image: linear-gradient(rgb(216, 215, 220), rgb(191, 191, 194));
  border: 2px solid rgb(50, 50, 50);
  border-bottom: 5px solid rgb(50, 50, 50);
  box-shadow: 0px 1px 6px 0px rgb(191, 191, 194);
  transform: translate(0, -3px);
  cursor: pointer;
  transition: 0.2s;
  transition-timing-function: linear;
}

button:active {
  transform: translate(0, 0);
  border-bottom: 2px solid rgb(50, 50, 50);
}